<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <welcome-file-list>
        <welcome-file>sign_in.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>sign_in</servlet-name>
        <servlet-class>ru.wkn.servlets.SignInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sign_in</servlet-name>
        <url-pattern>/sign_in</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sign_up</servlet-name>
        <servlet-class>ru.wkn.servlets.SignUpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sign_up</servlet-name>
        <url-pattern>/sign_up</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>catalog</servlet-name>
        <servlet-class>ru.wkn.servlets.CatalogServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>catalog</servlet-name>
        <url-pattern>/catalog</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>my_questionnaires</servlet-name>
        <servlet-class>ru.wkn.servlets.MyQuestionnairesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>my_questionnaires</servlet-name>
        <url-pattern>/my_questionnaires</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>my_groups</servlet-name>
        <servlet-class>ru.wkn.servlets.MyGroupsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>my_groups</servlet-name>
        <url-pattern>/my_groups</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>my_reports</servlet-name>
        <servlet-class>ru.wkn.servlets.MyReportsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>my_reports</servlet-name>
        <url-pattern>/my_reports</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>current_questionnaire</servlet-name>
        <servlet-class>ru.wkn.servlets.CurrentQuestionnaireServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>current_questionnaire</servlet-name>
        <url-pattern>/current_questionnaire</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>current_questionnaire_group_editing</servlet-name>
        <servlet-class>ru.wkn.servlets.CurrentQuestionnaireGroupServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>current_questionnaire_group_editing</servlet-name>
        <url-pattern>/current_questionnaire_group_editing</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>questionnaire_editing</servlet-name>
        <servlet-class>ru.wkn.servlets.QuestionnaireEditingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>questionnaire_editing</servlet-name>
        <url-pattern>/questionnaire_editing</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>security-filter</filter-name>
        <filter-class>ru.wkn.filters.SecurityProfileFilter</filter-class>
        <async-supported>false</async-supported>
    </filter>

    <filter-mapping>
        <filter-name>security-filter</filter-name>
        <url-pattern>/secured/*</url-pattern>
    </filter-mapping>
</web-app>